@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
  font-family: 'ScienceFair';
  src:  url('assets/fonts/ScienceFair.eot?#iefix') format('embedded-opentype'),  
  		url('assets/fonts/ScienceFair.otf')  format('opentype'),
	    url('assets/fonts/ScienceFair.woff') format('woff'), 
	    url('assets/fonts/ScienceFair.ttf')  format('truetype'), 
	    url('assets/fonts/ScienceFair.svg#ScienceFair') format('svg');
  font-weight: normal;
  font-style: normal;
}
