// bootstrap
$grid-gutter-width: 30px;


// general components
$header-height: 80px;
$banner-height: 300px;

// device breakpoints
$breakpoint-small: 375px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;