.background-cover
{
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}

.background-contain
{
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}