input[type="text"],
input[type="number"]
{
	width: 100%;
	border: 2px solid $grey-a;
	border-radius: 5px;
	padding: 5px 10px;
	background: none;
	box-shadow: none;
	transition: border-color 0.2s linear;

	&:focus
	{
		outline: none;
		box-shadown: none;
		border-color: $green;
	}
}

label
{
	display: block;
	margin: 0px;
}

.form-container
{
	width: 500px;
	margin: auto;

	.input-block
	{
		margin-bottom: 15px;

		.input-column
		{
			button
			{
				margin: 10px auto;
			}
		}

		.buttons-container
		{
			margin-bottom: 50px;
			padding: 20px 0px;

			button
			{
				display: inline-block;
				width: 200px;
			}
		}
	}
}