input[type="text"],
input[type="number"],
select
{
	width: 100%;
	border: 2px solid $grey-a;
	border-radius: 5px;
	padding: 5px 10px;
	background: none;
	box-shadow: none;
	transition: border-color 0.2s linear;

	&:focus
	{
		outline: none;
		box-shadown: none;
		border-color: $green;
	}

	@media(max-width: $breakpoint-small)
	{
		width: auto;
	}
}

.select-container
{
	position: relative;
	color: transparent;

	select
	{
		color: transparent;

		option
		{
			color: $black;
		}
	}

	&::after
	{
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		position: absolute;
		top: 6px;
		right: 15px;
		z-index: 5;
		border-right: 2px solid $grey-a;
		border-bottom: 2px solid $grey-a;
		transform: rotate(45deg);
		transition: transform 0.2s linear;
	}

	&.is-open
	{
		&::after
		{
			top: 14px;
			transform: rotate(225deg);
		}
	}
}

label
{
	display: block;
	margin: 0px;
}

.form-container
{
	width: 500px;
	margin: auto;

	.input-block
	{
		margin-bottom: 15px;

		.input-column
		{
			button
			{
				margin: 10px auto;
			}
		}

		.buttons-container
		{
			margin-bottom: 50px;
			padding: 20px 0px;

			button
			{
				display: inline-block;
				width: 200px;
			}
		}
	}
}