input[type="text"],
input[type="number"]
{
	width: 100%;
	border: 1px solid $grey-a;
	border-radius: 5px;
	padding: 5px 10px;
	background: none;
	box-shadow: none;

	&:focus
	{
		outline: none;
		box-shadown: none;
		border-color: $black;
	}
}

label
{
	display: block;
	margin: 0px;
}

.input-block
{
	margin-bottom: 15px;

	.input-column
	{
		button
		{
			margin: 10px auto;
		}
	}
}